@theme {
  --color-primary: #4a1f7a;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #623993;
  --color-onPrimaryContainer: #d5b0ff;
  --color-secondary: #68577c;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #e8d1fd;
  --color-onSecondaryContainer: #69587d;
  --color-tertiary: #671448;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #842d60;
  --color-onTertiaryContainer: #ffa4d1;
  --color-error: #ba1a1a;
  --color-onError: #ffffff;
  --color-errorContainer: #ffdad6;
  --color-onErrorContainer: #93000a;
  --color-background: #fff7ff;
  --color-onBackground: #1e1a20;
  --color-surface: #fff7ff;
  --color-surfaceDim: #dfd8e0;
  --color-surfaceBright: #fff7ff;
  --color-surfaceContainerLowest: #ffffff;
  --color-surfaceContainerLow: #f9f1fa;
  --color-surfaceContainer: #f3ebf4;
  --color-surfaceContainerHigh: #eee6ee;
  --color-surfaceContainerHighest: #e8e0e9;
  --color-onSurface: #1e1a20;
  --color-surfaceVariant: #e9dfee;
  --color-onSurfaceVariant: #4b4450;
  --color-outline: #7c7482;
  --color-outlineVariant: #cdc3d2;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #332f35;
  --color-inverseOnSurface: #f6eef7;
  --color-inversePrimary: #dab9ff;
}
 
[data-theme="dark"] {
  --color-primary: #dab9ff;
  --color-onPrimary: #421673;
  --color-primaryContainer: #623993;
  --color-onPrimaryContainer: #d5b0ff;
  --color-secondary: #d4bee9;
  --color-onSecondary: #39294b;
  --color-secondaryContainer: #524266;
  --color-onSecondaryContainer: #c5b0da;
  --color-tertiary: #ffafd5;
  --color-onTertiary: #5e0a41;
  --color-tertiaryContainer: #842d60;
  --color-onTertiaryContainer: #ffa4d1;
  --color-error: #ffb4ab;
  --color-onError: #690005;
  --color-errorContainer: #93000a;
  --color-onErrorContainer: #ffdad6;
  --color-background: #151218;
  --color-onBackground: #e8e0e9;
  --color-surface: #151218;
  --color-surfaceDim: #151218;
  --color-surfaceBright: #3c383e;
  --color-surfaceContainerLowest: #100d13;
  --color-surfaceContainerLow: #1e1a20;
  --color-surfaceContainer: #221e24;
  --color-surfaceContainerHigh: #2c292f;
  --color-surfaceContainerHighest: #37333a;
  --color-onSurface: #e8e0e9;
  --color-surfaceVariant: #4b4450;
  --color-onSurfaceVariant: #cdc3d2;
  --color-outline: #968e9c;
  --color-outlineVariant: #4b4450;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #e8e0e9;
  --color-inverseOnSurface: #332f35;
  --color-inversePrimary: #734aa5;
}
