:root {
  --color-primary: #4a1f7a;
  --color-on-primary: #ffffff;
  --color-primary-container: #623993;
  --color-on-primary-container: #d5b0ff;
  --color-secondary: #68577c;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #e8d1fd;
  --color-on-secondary-container: #69587d;
  --color-tertiary: #671448;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #842d60;
  --color-on-tertiary-container: #ffa4d1;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-background: #fff7ff;
  --color-on-background: #1e1a20;
  --color-surface: #fff7ff;
  --color-surface-dim: #dfd8e0;
  --color-surface-bright: #fff7ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f9f1fa;
  --color-surface-container: #f3ebf4;
  --color-surface-container-high: #eee6ee;
  --color-surface-container-highest: #e8e0e9;
  --color-on-surface: #1e1a20;
  --color-surface-variant: #e9dfee;
  --color-on-surface-variant: #4b4450;
  --color-outline: #7c7482;
  --color-outline-variant: #cdc3d2;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverse-surface: #332f35;
  --color-inverse-on-surface: #f6eef7;
  --color-inverse-primary: #dab9ff;
}
 
[data-theme="dark"] {
  --color-primary: #dab9ff;
  --color-on-primary: #421673;
  --color-primary-container: #623993;
  --color-on-primary-container: #d5b0ff;
  --color-secondary: #d4bee9;
  --color-on-secondary: #39294b;
  --color-secondary-container: #524266;
  --color-on-secondary-container: #c5b0da;
  --color-tertiary: #ffafd5;
  --color-on-tertiary: #5e0a41;
  --color-tertiary-container: #842d60;
  --color-on-tertiary-container: #ffa4d1;
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-error-container: #93000a;
  --color-on-error-container: #ffdad6;
  --color-background: #151218;
  --color-on-background: #e8e0e9;
  --color-surface: #151218;
  --color-surface-dim: #151218;
  --color-surface-bright: #3c383e;
  --color-surface-container-lowest: #100d13;
  --color-surface-container-low: #1e1a20;
  --color-surface-container: #221e24;
  --color-surface-container-high: #2c292f;
  --color-surface-container-highest: #37333a;
  --color-on-surface: #e8e0e9;
  --color-surface-variant: #4b4450;
  --color-on-surface-variant: #cdc3d2;
  --color-outline: #968e9c;
  --color-outline-variant: #4b4450;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverse-surface: #e8e0e9;
  --color-inverse-on-surface: #332f35;
  --color-inverse-primary: #734aa5;
}
