@use 'variables' as *;

@mixin container($max-width: $container-max) {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $space-lg;
  padding-right: $space-lg;
}

@mixin respond-to($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin button-reset {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}