---
import BaseLayout from "./BaseLayout.astro";
const { title = "User Area" } = Astro.props;
---

<BaseLayout title={title}>
  <div slot="header">
    <nav>
      <a href="/logout">Logout</a>
    </nav>
  </div>
  <slot />
</BaseLayout>
