---
import "../styles/global.css";
const { title = "Astro Site" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <slot name="header" />
    <main class="container mx-auto">
      <slot />
    </main>
    <slot name="footer">
      <footer>
        <small>&copy; {new Date().getFullYear()} Astro Site</small>
      </footer>
    </slot>
  </body>
</html>
