---
import BaseLayout from "./BaseLayout.astro";
const { title = "Page" } = Astro.props;
---

<BaseLayout title={title}>
  <div slot="header">
    <header>
      <h2>{title}</h2>
    </header>
  </div>
  <slot />
</BaseLayout>
