---
export interface Props {
  elevated?: boolean;
  outlined?: boolean;
  brutal?: boolean;
  class?: string;
}

const {
  elevated = false,
  outlined = false,
  brutal = true,
  class: className,
} = Astro.props;

const baseClasses = `p-6 font-sans`;
const variantClasses = {
  "bg-surface shadow-brutal brutal-border": elevated && brutal,
  "bg-surface brutal-border-primary": outlined && brutal,
  "bg-surface border-b border-outline": !brutal,
  "bg-surface": !elevated && !outlined && !brutal,
};
---

<div class:list={[baseClasses, variantClasses, className]}>
  <slot />
</div>
